.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.venv/
venv/
node_modules/
.playwright-cli/
.env
.eggs/
*.egg-info/
build/
.netrc
.dist/
dist/

data/
downloads/
input/
inputs/
output/
outputs/
